span { 
  padding: 5px;
  border-radius: 9px; 
  color: white; 
  font-size: 1rem;
}

.low { 
  background-color: #4caf50; 
}

.medium { 
  background-color: #ff9800; 
}

.high { 
  background-color: #f44336; 
}